nav {
    
    display: flex;
    align-items: flex-start;
    flex-direction:column;
    justify-content:flex-end ;
  }
  
  footer {
    display: flex;
    flex-direction:column;
    justify-content: center; 
    color: #000000;
    align-items:center;
  }
  
  p{text-align:justify;color:black; font-size:18px; }
  
  h1 {text-align:center; color:black}
  h2 {text-align:left; color:black; margin-left:10px;}
  h3 {text-align:center;}
  .text {text-align:center;}
  img { width:20px; border:3px solid yellow;}
  
  /* ul {
    
    padding:0;
  }
  
  
  a.a {
    padding: 10px;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    background-color: red;
  }
  
  li.active a {
    background-color: #333;
    color: #fff;
  } */
  
  